.background-sunset {
  background: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}

.canvas {
  background: $white;
  box-shadow: 0 0 16px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.24);
  overflow: hidden;
  padding: 40px;
  position: fixed;
  text-align: center;
  top: 64px;
  right: 40px;
  bottom: 40px;
  left: 40px;
  z-index: 1;

  @media only screen and (max-width: $breakpoint-md) {
    top: 48px;
    right: 24px;
    bottom: 24px;
    left: 24px;
  }

  @media only screen and (max-width: $breakpoint-sm) {
    padding: 24px;
  }
}

.top-bar {
  height: 64px;
  margin: 0 40px;
  text-align: center;

  .logo {
    color: $white;
    font-family: $font-secondary;
    font-size: 24px;
    font-weight: 600;
    line-height: 64px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;

    @media only screen and (max-width: $breakpoint-md) {
      line-height: 48px;
    }

    &:hover {
      color: rgba($white, .6);
    }
  }
}

.text-display {
  color: rgba($black, .8);
  font-family: $font-primary;
  font-size: 36px;
  font-weight: 300;
  margin: 32px 0 48px;

  @media only screen and (max-width: $breakpoint-sm) {
    font-size: 32px;
  }
}

.octocat {
  max-width: 300px;
  width: 100%;
}

.is-hidden {
  display: none;
}