/* SEARCH BOX
===================================================== */

.search-box {
  margin: auto;

  input {
    background-color: rgba($black, .04);
    border: none;
    border-radius: 3px;
    color: rgba($black, .8);
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    outline: none;
    padding: 0 10px;
    text-align: center;
    transition: all .3s;
    width: 300px;

    &[type="text"]::-webkit-input-placeholder {
      color: rgba($black, .24);
      font-family: $font-primary;
      font-weight: 400;
      transition: all .3s;
    }

    &:hover,
    &:focus {
      background-color: rgba($black, .02);
      box-shadow: inset 0 1px 4px rgba(0,0,0,0.12);
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}