/* USER CARD
===================================================== */

.user-card {
  font-family: $font-primary;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  padding: 40px 40px 0;
  right: 0;
  top: 100px;

  @media only screen and (max-width: $breakpoint-sm) {
    padding: 24px 24px 0;
  }

  .user-info {
    padding-bottom: 36px;

    &.has-border-bottom {
      border-bottom: 1px solid rgba($black, .04);
    }

    img {
      border: 10px solid $white;
      border-radius: 300px;
      box-shadow: 0 0 4px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.24);
      height: 160px;
      transition: all .3s;
      width: 160px;

      &:hover {
        box-shadow: 0 0 8px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.24);
      }
    }

    .username {
      color: rgba($black, .8);
      font-size: 32px;
      padding-top: 20px;
    }

    .follower-title {
      color: rgba($black, .3);
      font-size: 18px;
    }

    .follower-count {
      color: rgba($black, .3);
      font-size: 18px;
    }
  }

  ul.followers {
    margin-top: 20px;

    li {
      background-color: rgba($black, 0.02);
      border-radius: 3px;
      box-shadow: 0 1px 3px rgba($black, 0.12), 0 2px 6px rgba($black, 0.12);
      display: inline-block;
      font-size: 14px;
      margin: 14px;
      padding-bottom: 24px;
      transition: all .3s;
      width: 200px;

      .avatar-image {
        padding: 20px 0;

        img:hover {
          box-shadow: 0 0 2px rgba($black, 0.12), 0 2px 2px rgba($black, 0.24);
        }
      }

      a {
        color: rgba($black, .8);
        display: inline-block;
        text-decoration: none;
      }

      span {
        display: block;
      }

      img {
        border: 6px solid $white;
        border-radius: 200px;
        box-shadow: 0 0 4px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.24);
        display: block;
        height: 100px;
        margin: auto;
        transition: all .3s;
        width: 100px;
      }

      button.search-btn {
        border: none;
        border-radius: 3px;
        background-color: rgba($blue-600,.6);
        color: $white;
        font-family: $font-primary;
        font-size: 13px;
        line-height: 28px;
        margin-top: 24px;
        padding: 0 16px;
        outline: none;
        transition: all .3s;

        &:hover {
          background-color: $blue-600;
          cursor: pointer;
        }
      }
    }
  }

  button.load-more {
    background: $blue-600;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: none;
    font-family: $font-primary;
    font-size: 14px;
    height: 36px;
    margin: 20px auto 40px;
    outline: none;
    padding: 0 20px;
    text-transform: uppercase;
    transition: all .3s;

    &.is-visible {
      display: block;
    }

    &:hover {
      box-shadow: 0 0 4px rgba(0,0,0,0.12), 0 4px 8px rgba(0,0,0,0.24);
    }
  }
}