/* RESET
============================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
** Fonts
**
*/
/*
** Colors
**
*/
/* LAYOUT
===================================================== */
.l-pinned {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0; }

.l-pad-top-1 {
  padding-top: 8px; }

.l-pad-bottom-1 {
  padding-bottom: 8px; }

.l-pad-top-2 {
  padding-top: 16px; }

.l-pad-bottom-2 {
  padding-bottom: 16px; }

.l-pad-top-3 {
  padding-top: 24px; }

.l-pad-bottom-3 {
  padding-bottom: 24px; }

.l-pad-top-4 {
  padding-top: 32px; }

.l-pad-bottom-4 {
  padding-bottom: 32px; }

.l-pad-top-5 {
  padding-top: 40px; }

.l-pad-bottom-5 {
  padding-bottom: 40px; }

.l-pad-top-6 {
  padding-top: 48px; }

.l-pad-bottom-6 {
  padding-bottom: 48px; }

.l-pad-top-7 {
  padding-top: 56px; }

.l-pad-bottom-7 {
  padding-bottom: 56px; }

.l-pad-top-8 {
  padding-top: 64px; }

.l-pad-bottom-8 {
  padding-bottom: 64px; }

.container {
  margin: auto;
  text-align: center;
  width: 960px; }

.l-flex {
  display: flex; }
  .l-flex.flex-hori {
    flex-direction: row;
    justify-content: space-between; }

/* SEARCH BOX
===================================================== */
.search-box {
  margin: auto; }
  .search-box input {
    background-color: rgba(0, 0, 0, 0.04);
    border: none;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    outline: none;
    padding: 0 10px;
    text-align: center;
    transition: all .3s;
    width: 300px; }
    .search-box input[type="text"]::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.24);
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      transition: all .3s; }
    .search-box input:hover, .search-box input:focus {
      background-color: rgba(0, 0, 0, 0.02);
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.12); }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s; }

/* USER CARD
===================================================== */
.user-card {
  font-family: "Roboto", sans-serif;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  padding: 0 40px;
  right: 0;
  top: 100px; }
  .user-card .user-info {
    margin: 0 180px;
    padding-bottom: 36px; }
    .user-card .user-info.has-border-bottom {
      border-bottom: 1px solid rgba(0, 0, 0, 0.04); }
    .user-card .user-info img {
      border: 10px solid #FFFFFF;
      border-radius: 300px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.24);
      height: 160px;
      transition: all .3s;
      width: 160px; }
      .user-card .user-info img:hover {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.24); }
    .user-card .user-info .username {
      color: rgba(0, 0, 0, 0.8);
      font-size: 32px;
      padding-top: 20px; }
    .user-card .user-info .follower-title {
      color: rgba(0, 0, 0, 0.3);
      font-size: 18px; }
    .user-card .user-info .follower-count {
      color: rgba(0, 0, 0, 0.3);
      font-size: 18px; }
  .user-card ul.followers {
    margin-top: 20px; }
    .user-card ul.followers li {
      background-color: rgba(0, 0, 0, 0.02);
      border-radius: 3px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.12);
      display: inline-block;
      font-size: 14px;
      margin: 14px;
      padding-bottom: 24px;
      transition: all .3s;
      width: 200px; }
      .user-card ul.followers li .avatar-image {
        padding: 20px 0; }
        .user-card ul.followers li .avatar-image img:hover {
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24); }
      .user-card ul.followers li a {
        color: rgba(0, 0, 0, 0.8);
        display: inline-block;
        text-decoration: none; }
      .user-card ul.followers li span {
        display: block; }
      .user-card ul.followers li img {
        border: 6px solid #FFFFFF;
        border-radius: 200px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.24);
        display: block;
        height: 100px;
        margin: auto;
        transition: all .3s;
        width: 100px; }
      .user-card ul.followers li button.search-btn {
        border: none;
        border-radius: 3px;
        background-color: rgba(30, 136, 229, 0.6);
        color: #FFFFFF;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        line-height: 28px;
        margin-top: 24px;
        padding: 0 16px;
        outline: none;
        transition: all .3s; }
        .user-card ul.followers li button.search-btn:hover {
          background-color: #1E88E5;
          cursor: pointer; }
  .user-card button.load-more {
    background: #1E88E5;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    height: 36px;
    margin: 20px auto 40px;
    outline: none;
    padding: 0 20px;
    text-transform: uppercase;
    transition: all .3s; }
    .user-card button.load-more.is-visible {
      display: block; }
    .user-card button.load-more:hover {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.24); }

.background-sunset {
  background: linear-gradient(-60deg, #ff5858 0%, #f09819 100%); }

.canvas {
  background: #FFFFFF;
  bottom: 40px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.24);
  left: 40px;
  overflow: hidden;
  position: fixed;
  right: 40px;
  text-align: center;
  top: 64px;
  z-index: 1; }

.top-bar {
  height: 64px;
  margin: 0 40px;
  text-align: center; }
  .top-bar .logo {
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 64px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s; }
    .top-bar .logo:hover {
      color: rgba(255, 255, 255, 0.6); }

.text-display {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 48px; }

.octocat {
  width: 300px; }
